@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --blue: #03045e;
    --black: #000000;
    --white: #ffffff;
    --grey: #DFDFDE;
}

*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
  	        transition: all 0.2s linear;
}

*::selection{
    color: var(--white);
    background-color: var(--purple);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--black);
}

section{
    padding: 2rem 5%;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--purple);
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

.swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active{
    width: 3rem;
    background: var(--purple);
}

/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading{
    margin-bottom: 2rem;
}

.heading h2{
    text-align: center;
    padding-bottom: 2rem;
    color:bblack;
    font-size: 4rem;
}

.heading h2 span{
    position: relative;
    z-index: 0;
    color: var(--white);
}

.heading h2 span::before{
    content: '';
    position: absolute;
    bottom: -0.5rem; left: 0;
    z-index: -1;
    background:#03045e;
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    border: 0.2rem solid #0096c7;
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--white);
    background-color:#4c72a4;
    cursor: pointer;
}

/*--------------------- 2- Button CSS (End) ---------------------*/






/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home{
    padding: 0rem 5%;
    background-color: var(--black);
    min-height: 100vh;
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home .image{
    text-align: center;
    -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;

}

.home .image img{
    height: 40rem;
    width: 40rem;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70% ;
    object-fit:cover;
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 7rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--purple);
}

.home .content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

.home .content h1 span{
    color: var(--purple);

}

.home .content p{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--white);
    padding-bottom: 2rem;
    line-height: 1.5;
}
/*--------------------- 4- Home Area CSS (End) ------


/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.about .image {
    width: 32rem;
    text-align: center;
}

.about .image img {
    width: 100%;
    border: 0.8rem solid #0077b6;
    border-radius: 20%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
    flex: 1 1 55rem;
}

.about .content h2 {
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.about .content>p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1rem;
}

.about .content .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .content .about-info .info {
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;
    align-self: self-start;
    padding: 2rem;
}

.about .content .about-info .info h4 {
    font-size: 1.6rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.about .content .about-info .info span {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}

.about .content .about-info .info .btncv {
    margin-top: 1rem;
    border-radius: 2rem;
    background-color: #023e8a;
    border: 2px solid snow;
    color: white;
    padding: 1.2rem;
}

.counting {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
    flex: 1 1 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.counting .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18rem;
    flex: 1 1 18rem;
    text-align: center;
    background-color: #063352;
    padding: 2rem;
    border-radius: 2rem;
}

.counting .box .count {

    font-size: 3.5rem;
    color: #caf0f8;
    padding-bottom: 0.5rem;
}

.counting .box h3 {
    font-size: 1.8rem;
    color: var(--white);
}

.skill-container {
    padding: 2rem 0;
}

.skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skill-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box {
    padding: 1rem 0;
}

.skill-item .box h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 400;
}

.skill-item .box .progress-bar {
    width: 100%;
    background: #222;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.skill-item .box .progress-bar span {
    display: block;
    height: 100%;
    background: snow;
}

.skill-item.item1 .box:nth-child(1) .progress-bar span {
    width: 70%;
}

.skill-item.item1 .box:nth-child(2) .progress-bar span {
    width: 85%;
}

.skill-item.item1 .box:nth-child(3) .progress-bar span {
    width: 50%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span {
    width: 75%;
}

.skill-item.item2 .box:nth-child(2) .progress-bar span {
    width: 95%;
}

.skill-item.item2 .box:nth-child(3) .progress-bar span {
    width: 75%;
}

/*--------------------- 5- About Area CSS (End) ---------------------*/



/*--------------------- 6- Qualification Area CSS (Start) ---------------------*/
.qualification .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.education,
.experience {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.experience-item {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 0 3rem 2rem 3rem;
    border-left: 0.2rem solid #b8e1f7;
    margin-left: 2rem;
}

.experience-item i {
    position: absolute;
    top: 0;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background: #03045e;
}

.experience-item .content {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-left: 2rem;
}

.experience-item span {
    background: #222;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
}

.experience-item h3 {
    font-size: 2.5rem;
    color: var(--white);
    padding: 2rem 0;
}

.experience-item p {
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.hireme {
        display: inline-block;
        padding: 0.5em 1.7em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255, 255, 255, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #000000;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        text-align: center;
        transition: all 0.2s;
        margin-left: 3rem;
        font-weight: 500;
      }
      
      .hireme:hover {
        border-color: rgb(1, 32, 58);
      }

/*--------------------- 6- Qualification Area CSS (End) ---------------------*/



/*--------------------- 7- Services Area CSS (Start) ---------------------*/
.service .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33rem;
    flex: 1 1 33rem;
    background-color: #03045e;
    padding: 4rem 3rem;
    text-align: center;
    border: 0.1rem solid rgb(28 197 207 / 30%);
    border-radius: 2rem;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.service-item:hover {
    background-color:#023e8a;
}

.service-item i {
    color: var(--white);
    font-size: 4rem;
}

.service-item h3 {
    font-size: 2rem;
    color: var(--white);
    padding: 1.5rem 0;
}

.service-item p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}

.service-item:hover p {
    color: var(--white);
}

/*--------------------- 7- Services Area CSS (End) ---------------------*/



/*--------------------- 8- Portfolio Area CSS (Start) ---------------------*/
.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;

}

.controls .button {
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 1rem;
}

.controls .button.active {
    cursor: pointer;
    background-color:#4c72a4;
    color: var(--white);
}

.portfolio .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 0.5rem;
    padding: 2rem 0;
}

.portfolio-item {
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -3.5rem;
}

.portfolio-item .content {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.portfolio-item .content h4 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--purple);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 0;
    padding-bottom: 1rem;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.portfolio-item .content p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.portfolio-item .content .view-btn {
    font-size: 2rem;
    color: var(--purple);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border-radius: 5rem;
    margin-top: 1.5rem;
}

.portfolio-item:hover .content {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-item:hover .content h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    color: #ffffff;
}

.portfolio-item:hover .content p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover .content .view-btn {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    color: #ffffff;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*CSS3 Animation Effects for Magnific Popup*/

/* start state */
.mfp-newspaper .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
}

.mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* animate in */
.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
    opacity: 0;
}

.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}


/*--------------------- 8- Portfolio Area CSS (End) ---------------------*/






/*--------------------- 11- Contact Area CSS (Start) ---------------------*/
.contact .alert {
    font-size: 2rem;
    color: var(--purple);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.contact .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-info h3 {
    font-size: 3rem;
    color: var(--white);
}

.contact-info>p {
    font-size: 1.6rem;
    color: var(--grey);
    padding: 0.5rem 0;
}

.contact-info .info-item {
    padding: 1rem 0;
}

.contact-info .info-item .gmail,
.contact-info .info-item .linkedin,
.contact-info .info-item .github {
    text-transform: none;
}

.contact-info .info-item h4 {
    font-size: 1.8rem;
    color: var(--white);
}

.contact-info .info-item .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info .info-item .detail .fas,
.contact-info .info-item .detail .fab {
    border-radius: 50%;
    color:black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    ;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-info .info-item .detail p {
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-left: 1rem;
}

.contact-form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-form .box {
    width: 100%;
    text-transform: none;
    color: var(--grey);
    font-size: 1.6rem;
    padding: 1.5rem;
    margin: 0.5rem 0;
    background-color: transparent;
    border: 2px solid snow;
    border-radius: 2rem;
}

.contact-form .box:focus {
    border-color: var(--white);
}

.contact-form .box::placeholder {
    color: var(--grey);
}

.contact-form textarea {
    height: 15rem;
    resize: none;
}

.contact-form .btn {
    
        margin-top: 1rem;
        border-radius: 2rem;
        background-color: #023e8a;
        border: 2px solid snow;
        color: white;
        padding: 1.2rem;
}

/*--------------------- 11- Contact Area CSS (End) ---------------------*/



/*--------------------- 12- Footer Area CSS (Start) ---------------------*/
footer {
    background-color: var(--purple);
    padding: 2rem 0;
    text-align: center;
}

footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab {
    background-color: var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--white);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover {
    color: var(--black);
    background-color: var(--white);
}

footer .content p {
    font-size: 2rem;
    color: var(--white);
}

footer .content p span {
    color: var(--black);
}

/*--------------------- 12- Footer Area CSS (End) ---------------------*/



/*--------------------- 13- Scroll-Top (Start) ---------------------*/
.scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: lighter;
    background: var(--black);
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scroll-top:hover {
    background: var(--white);
    color: var(--black);
}

/*--------------------- 13- Scroll-Top (End) ---------------------*/

/* ------------responsive------------------------- */

@media (max-width:937px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        max-width: 500px;
        margin-left: 10rem;
    }

    .herotext h2 {
        display: none;
    }

    .profilepic {
display: none   ;    }

    #footer_contact {
        margin-top: 20rem;
    }
}

/* ------------------2nd query--------------------------- */
@media (max-width:680px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        max-width: 500px;
        margin-left: 5rem;
        margin-top: 3rem;
    }

    .profilepic {
 display: none; 
    }
}

/* ------------------3rd query--------------------------- */
@media (max-width:572px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        max-width: 400px;
        margin-left: 6rem;
        padding-top: 0.70rem;
    }

    .herotext p {
        font-size: 1.25rem;
        font-weight: 500;

    }


    .profilepic {
        margin-left: 6rem;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }


}

/* ------------------4th query--------------------------- */
@media (max-width:506px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        margin-left: 3rem;
    }

    .herotext p {
        font-size: 1rem;
        font-weight: 500;
    }


    .profilepic {
        margin-left: 6rem;
        height: 280px;
        width: 280px;
        border-radius: 50%;
    }

    .socials {
        margin-left: 5.8rem;
    }

    .btn1 {
        margin-left: 4rem;

    }

    /* -------3 menu bar query---------- */
    .fa-solid.fa-bars {

        display: flex;

    }

    .contact_logos {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;

    }

    .contact_logos {
        width: 100%;
        flex-direction: column;
        padding: 1rem;

    }

    .contact_logos.active {
        display: flex;
    }

}

/* ------------------5th query--------------------------- */
@media (max-width:464px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        margin-left: 2.5rem;
        padding-top: 0.70rem;
    }

    .herotext p {
        font-size: 0.90rem;
        font-weight: 500;
    }

    .herotext h1 {
        font-size: 1.6rem;
    }

    .profilepic {
        margin-left: 5rem;
        height: 260px;
        width: 260px;
        border-radius: 50%;

    }








}

/* ------------------6th query--------------------------- */

@media (max-width:377px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        max-width: 300px;
        padding-top: 0.70rem;
        max-height: 100px;
        padding-top: 0.70rem;
        margin-bottom: 15rem;


    }


    .profilepic {
        height: 230px;
        width: 230px;
        border-radius: 50%;
    }

    .herotext p {
        font-size: 0.90rem;
        font-weight: 500;
    }

    .herotext h1 {
        font-size: 1.4rem;
    }


    .socials {
        margin-left: -0.99rem;

    }

    .btn1 {
        margin-left: -1.5rem;

    }


}

/* ------------------7th query--------------------------- */
@media (max-width:320px) {

    #fullwrapper {
        display: block;
    }

    .herotext {
        max-width: 260px;
        padding-top: 0.70rem;
        margin-bottom: 15rem;

    }

    .herotext p {
        font-size: 0.88rem;
        font-weight: 500;
    }

    .herotext h1 {
        font-size: 1.25rem;
    }

    #footer_contact {
        height: 6rem;
    }

  

    .socials {
        margin-left: -1rem;
        font-size: 0.80rem;
    }

    .btn1 {
        margin-left: -2rem;
    }



}